<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item 0</key>
	<string>abc</string>
	<key>item 1</key>
	<string>Sweep operations were then initiated to shield the local populace from intimidation during upcoming elections. Operation Swift, intended to be the fourth and the last of the 1967 operations in the Quế Sơn Valley, began unofficially on the morning of September 4 when Company D, 1st Battalion, 5th Marines was attacked before dawn by a superior PAVN force while in a night defensive perimeter next to the village of Dong Son</string>
	<key>item 2</key>
	<string>ddd</string>
	<key>item 3</key>
	<string>w</string>
	<key>item 4</key>
	<string>e</string>
	<key>item 5</key>
	<string>r</string>
	<key>item 6</key>
	<string>Sweep operations were then init the village of Dong Son sfeww</string>
	<key>item 7</key>
	<string>n</string>
	<key>item 8</key>
	<string>Swed the local populace from intimidation during upcoming elections. Operation Swift, intended to be the fourth and the last of the 1967 operations in the Quế Sơn Valley, began unofficially on the morning of September 4 when Company D, 1st Battalion, 5th Marines was attacked before dawn by a superior PAVN force while in a night defensive perimeter next to the village of Dong Son</string>
	<key>item 10</key>
	<string>k</string>
</dict>
</plist>
